CompileFlags:
  Add: [-xc++,-Wall
  -IC:/LLCompiler/include/,
  -IC:/LLCompiler/src/,
  -IC:/LLCompiler/third_party/onnx/,
  -IC:/LLCompiler/build/third_party/onnx/,
  -IC:/LLCompiler/third_party/spdlog/include/,
  -IC:/LLCompiler/build/third_party/llvm-project/llvm/include/,
  -IC:/LLCompiler/third_party/llvm-project/llvm/include/,
  -IC:/LLCompiler/build/third_party/llvm-project/llvm/tools/mlir/include/,
  -IC:/LLCompiler/third_party/llvm-project/mlir/include/,
  -IC:/LLCompiler/build/_deps/protobuf-src/src/
  ]
Diagnostics:
  UnusedIncludes: None  

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24