CompileFlags:
  Add: [-xc++,-Wall
  -IC:/coding/LLCompiler/include/,
  -IC:/coding/LLCompiler/src/,
  -IC:/coding/LLCompiler/third_party/onnx/,
  -IC:/coding/LLCompiler/build/third_party/onnx/,
  -IC:/coding/LLCompiler/third_party/spdlog/include/,
  -IC:/coding/LLCompiler/build/third_party/llvm-project/llvm/include/,
  -IC:/coding/LLCompiler/third_party/llvm-project/llvm/include/,
  -IC:/coding/LLCompiler/build/third_party/llvm-project/llvm/tools/mlir/include/,
  -IC:/coding/LLCompiler/third_party/llvm-project/mlir/include/,
  -IC:/coding/LLCompiler/build/_deps/protobuf-src/src/,
  -IC:/coding/LLCompiler/third_party/MegCC/,
  -IC:/coding/LLCompiler/other_party/onnx-mlir/include/,
  -IC:/coding/LLCompiler/other_party/onnx-mlir/,
  -IC:/coding/LLCompiler/other_party/MegCC/compiler/include/,
  -IC:/coding/LLCompiler/other_party/MegCC/compiler/lib/,
  ]
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24