# git submodule update --init --recursive --progress
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://mirrors.tuna.tsinghua.edu.cn/git/llvm-project.git
[submodule "third_party/pybind11"]
    path = third_party/pybind11
    url = https://github.com/pybind/pybind11.git
[submodule "third_party/stablehlo"]
	path = third_party/stablehlo
	url = https://github.com/openxla/stablehlo.git
[submodule "third_party/ginac"]
	path = third_party/ginac
	url = git://www.ginac.de/ginac.git
### not used ###
[submodule "third_party/mlir-hlo"]
    path = third_party/mlir-hlo
    url = https://github.com/tensorflow/mlir-hlo.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/onnx"]
	path = third_party/onnx
	url = https://github.com/onnx/onnx.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/symengine"]
	path = third_party/symengine
	url = https://github.com/symengine/symengine.git
# [submodule "third_party/protobuf"]
# 	path = third_party/protobuf
# 	url = https://github.com/protocolbuffers/protobuf.git
# [submodule "third_party/onnx-mlir"]
#     path = third_party/onnx-mlir
#     url = https://github.com/onnx/onnx-mlir.git
# [submodule "third_party/iree"]
#     path = third_party/iree
#     url = https://github.com/iree-org/iree.git
# [submodule "third_party/MegCC"]
#     path = third_party/MegCC
#     url = https://github.com/megengine/megcc.git
# [submodule "third_party/torch-mlir"]
#     path = third_party/torch-mlir
#     url =https://github.com/llvm/torch-mlir.git
# [submodule "third_party/triton"]
#     path = third_party/triton
#     url =https://github.com/triton-lang/triton.git
# [submodule "third_party/akg"]
#     path = third_party/akg
#     url =https://github.com/mindspore-ai/akg.git
# [submodule "third_party/xdsl"]
#     path = third_party/xdsl
#     url =https://github.com/xdslproject/xdsl

